.cover__description {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 767px ){
    .cover__description {
        font-size: 14px;
        line-height: 1.14;
    }
}