.cover {
    position: relative;
    max-width: 1184px;
    margin: 0 auto;
    background: url("../../images/train-lines.jpg") center center no-repeat;
    height: 62.5vw;
    max-height: 740px;
}

.cover::before {
    content: '';
    display: block;
    transition: opacity 300ms ease-in;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2a2c2f;
    opacity: .3;
}

.cover:hover.cover::before {
    opacity: .8;
}